*, *:after, *:before{ box-sizing:inherit }
::-ms-clear, ::-ms-reveal{
  display:none;
}
hr{ display:block; height:1px; margin:1em 0; padding:0; border:0; background:#eaf1f8; }
html{ box-sizing:border-box; overflow-y:scroll;overflow-x:hidden;}
html, body{height:100%;margin:0;padding:0;}
figure{ margin:0 }
img{ max-width:100% }
img:not([alt]){outline:2px solid red;}
table{ border-spacing:0; border-collapse:collapse; margin:2em 0; width:100%;vertical-align:middle }
tbody, tfoot, thead, tr, th, td{ vertical-align:inherit; }
svg, path{ transition:$trans }
fieldset{border:0;margin:0;padding:0}












