@mixin font-face($font-name,$font-file,$font-style,$font-weight){
  @font-face{
    font-family:'#{$font-name}';
    src:url('/fonts/#{$font-file}.eot'); /* IE9 Compat Modes */
    src:url('/fonts/#{$font-file}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/#{$font-file}.woff') format('woff'), /* Modern Browsers */
    url('/fonts/#{$font-file}.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/#{$font-file}.svg##{$font-file}') format('svg'); /* Legacy iOS */
    font-style:#{$font-style};
    font-weight:#{$font-weight};
    text-rendering:optimizeLegibility;
  }
}
@mixin placeholder{
  &::-webkit-input-placeholder{
    @content;
  }

  &:-moz-placeholder{ /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder{ /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder{
    @content;
  }
}





