@include font-face('Exo2-0-Thin', 'Exo2-0-Thin', 'normal', 100);
@include font-face('TrebuchetMS', 'TrebuchetMS', 'normal', 400);
@include font-face('TrebuchetMS', 'TrebuchetMS-Bold', 'normal', 700);

h1, h2, h3, h4, h5, h6,
.g-h1, .g-h2, .g-h3, .g-h4, .g-h5, .g-h6{
  color:$clr1;
  margin-bottom:.75em;
  font-family:"Exo2-0-Thin", Arial, Helvetica, sans-serif;
  font-weight:100;
  line-height:normal;
}
small{font-size:1em}
small:not([class]){font-size:.875em}
i{font-style:normal}
i:not([class]){font-style:italic}
p{margin:0}
p:not([class]){
  margin:0 0 1.25em;

  &:last-child{ margin-bottom:0 }
}
ul > *:not(li),
ol > *:not(li),
dl > *:not(dt):not(dd){
  outline:2px solid red;
}
ul, ol{
  list-style:none;
  margin:0;
  padding:0;
}
ul:not([class]), ol:not([class]){
  margin:0;
}
ol:not([class]){ list-style:decimal }
ul:not([class]) li{
  padding-left:30px;
  margin-bottom:1.1em;
  position:relative;
}

