$width_xs:767px;
$width_md:1075px;
$width_lg:1169px;

$clr1:white;
$clr2:#b3b3b3;
$clr3:#000;
$clr4:rgb(22, 152, 217);
$clr5:#d9d9d9;
$clr6:#ff6;
$clr7:#d91667;
$clr8:#666;

%text-ovetflow{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
%op-hide{
  opacity:0;
  visibility:hidden
}
$trans:all .3s ease;





