<template lang="pug">
    cat-main
</template>


<script>
    // @ is an alias to /src
    import CatMain from '@/components/cat/CatMain.vue'


    export default {
        components: {
            CatMain,
        },
        data() {
            return {}
        }
    }
</script>
