@import '@/styles/includes/vars.scss';
.cat-main{
  background:url(./cat-main-bg.jpg) $clr3; font:400 16px/1.5 "TrebuchetMS", Arial, Helvetica, sans-serif;
  position:relative;
  color:$clr1;
  height:100vh;
  display:table;
  width:100%;

  &::before{
    content:'';
    position:absolute;
    left:0;top:0;bottom:0;right:0;
    background-image:linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
  }

  &__wrap{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    padding:3em 0;
    position:relative;
  }
  &__form{
    text-align:center;
    display:flex;
    justify-content:space-between;
    margin:0 -1em;
    flex-flow:row wrap;
  }
  &__section{
  }
  &__grid{
    max-width:1150px;
    margin:0 auto;
    padding:0 15px;
  }
  &__title{
    text-align:center;
    letter-spacing:.056em;
  }

  @media (max-width:$width_md){
    &__form{display:block}
  }
  @media (max-width:$width_xs){
    html, body{ min-width:320px; }
    display:block;
    height:auto;
    &__grid{padding-left:7px;padding-right:7px}
    &__wrap{height:auto}
    &__form, &__wrap{
      display:block;
    }

  }

}