@import '@/styles/includes/vars.scss';
.cat-item{
  $br:12px;
  $p:2.65em;
  line-height:1;
  display:inline-block;
  vertical-align:top;
  width:320px;
  cursor:default;
  margin:0 1em 2em;
  text-align:left;
  position:relative;

  &__input{display:none}

  &__main{
    background-color:$clr1;
    border:4px solid $clr4;
    transition:$trans;
  }
  &__wrap{
    position:relative;
  }
  &__svg-wrap{display:block}
  &__svg{
    position:absolute;
    left:0;
    display:block;
  }
  &__path{
    transition:$trans;
  }

  &__main{
    transform:translate3d(0, 0, 0);
    position:relative;
    z-index:1;
    color:$clr8;
    height:481px;
    border-radius:0 0 $br $br;
    border-top:0;
    margin-bottom:1em;
    cursor:pointer;
    padding-top:1.5em;
    display:flex;
    flex-flow:column;
    border:0;
    background:none;

    &::before{
      position:absolute;
      content:'';
      height:2px;
      /*   background:$clr1;*/
      left:2px;
      right:0;
      top:-1px;
      /*bug ie*/
    }

  }

  &__content{
    padding:0 $p;
  }

  &__triangle{
    position:absolute;
    left:-2.65em;
    top:-4px;
    bottom:0;
    width:44px;
    overflow:hidden;
    z-index:1;

    &::before,
    &::after{
      content:'';
      position:absolute;
      transform:rotate(-46deg);
      left:0;
      top:0;
      margin-left:-29%;
      margin-top:35%;
      width:150%;
      transition:$trans;
    }

    &::before{
      height:4px;
      background:$clr4;
      left:4px;
      top:4px;
    }

    &::after{
      background:$clr1;
      height:45px;
      left:15px;
      top:7px;
    }
  }
  &__text{
    height:1em;
    display:block;
    margin-bottom:.5em;
    @extend %text-ovetflow;

    &::before{
      transition-delay:.2s;
      vertical-align:top;
      content:attr(data-sh);
      display:inline-block;
      width:0;
      overflow:hidden;
      color:$clr7;
      transition:$trans;
    }
  }
  &__type{
    display:block;
    font-size:.5em;
    height:1em;
    @extend %text-ovetflow;
  }

  &__name-wrap{
    word-wrap:break-word;
    margin:.2em 0 .4em;
    color:$clr3;
    font-size:3em;
    font-weight:700;
  }

  &__name{
    height:1.1em;
    display:block;
    margin-right:-.5em;
    @extend %text-ovetflow;
  }

  &__count{font-weight:700;}

  &__circle{
    margin:.75em .6em;
    padding:.6em 0;
    width:5em;
    height:5em;
    position:absolute;
    right:0;
    bottom:0;
    border-radius:50%;
    text-align:center;
    color:$clr1;
    background-color:$clr4;
    z-index:1;
    transition:$trans;
  }

  &__numb{font-size:2.625em;}

  &__weight{font-size:1.313em;display:block}

  &__footer{
    font-size:.813em;
    color:$clr1;
    text-align:center;
    height:1em;
    position:relative
  }

  &__assortment{
    font-size:0.875em;
    max-height:16em;
    overflow:hidden;
    position:relative;
    top:-2px;
    line-height:1.2;
  }
  &__image{
    margin-top:auto;
    transition:$trans;
    background:url(./cat-item.png) no-repeat left bottom/contain;
    height:16.85em;
    bottom:0px;
    left:4px;
    position:relative;
  }

  &__link{
    color:$clr4;
    border-bottom:1px dashed currentColor;
    cursor:pointer;
    transition:$trans;

    &:hover{border-bottom:transparent}
  }

  &__footer-text{
    /* position:absolute;*/
    left:0;
    right:0;
    text-shadow:0 1px 0 black;
  }

  &__footer-text, &_disabled &__footer-text,
  &__input:checked:not(:disabled) + &__wrap &__footer-text{
    top:-5em;
  }
  &__footer-text_default,
  &__input:checked:not(:disabled) + &__wrap &__footer-text_checked,
  &__input:disabled + &__wrap &__footer-text_disabled{
    top:0;
  }
  &__input:disabled + &__wrap &__image,
  &__input:checked:not(:disabled) + &__wrap &__image{}

  $clrL:lighten($clr4, 5%);

  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__image{}

  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__path{stroke:$clrL;}
  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__main{border-color:$clrL;}
  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__link{color:$clrL}
  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__circle,
  &:hover &__input:not(:disabled):not(:checked) + &__wrap &__triangle:before{background-color:$clrL}

  &__input:disabled + &__wrap &__main{cursor:default}
  &__input:disabled + &__wrap &__main,
  &__input:disabled + &__wrap &__name-wrap{
    color:$clr5
  }
  &__input:disabled + &__wrap &__image{opacity:.5}

  &__input:disabled + &__wrap &__path{
    stroke:$clr5;
  }
  &__input:disabled + &__wrap &__main{
    border-color:$clr5;
  }

  &__input:disabled + &__wrap &__circle,
  &__input:disabled + &__wrap &__triangle:before{
    background-color:darken($clr5, 10%)
  }
  &__input:disabled + &__wrap &__footer-text{
    color:$clr6
  }

  &__input:checked:not(:disabled) + &__wrap &__path{stroke:$clr7;}
  &__input:checked:not(:disabled) + &__wrap &__main{border-color:$clr7;}
  &__input:checked:not(:disabled) + &__wrap &__circle,
  &__input:checked:not(:disabled) + &__wrap &__triangle:before{background-color:$clr7}

  $clr7L:lighten($clr7, 5%);

  html:not(.touch-device) &_allow_hover:hover &__input:checked:not(:disabled) + &__wrap &__path{stroke:$clr7L;}
  html:not(.touch-device) &_allow_hover:hover &__input:checked:not(:disabled) + &__wrap &__main{border-color:$clr7L;}
  html:not(.touch-device) &_allow_hover:hover &__input:checked:not(:disabled) + &__wrap &__circle,
  html:not(.touch-device) &_allow_hover:hover &__input:checked:not(:disabled) + &__wrap &__triangle:before{background-color:$clr7L}

  html:not(.touch-device) &_allow_hover:hover &__input:checked:not(:disabled) + &__wrap &__text{
    &::before{width:100%;
    }
  }

  @media (max-width:$width_xs) and (orientation:landscape){
    width:500px;
    &__svg{
      width:100%;
      transform:rotate(90deg) translate(-8%, 0%) scale(.8, 1);
    }
    &__main{
      height:260px;
    }
    &__image{
      bottom:1px;
      left:0;
      position:absolute;
      transform:scale(-1, 1);
      right:10px;
      z-index:-1;
    }
    &__circle{
      margin:1em 2em;
    }
    &__content{
      width:310px;
    }
    &__assortment{
      max-height:7em;
      overflow:auto;
    }
  }
}



