<template lang="pug">
    label.cat-item(ref="item")
        input(type="checkbox" class="cat-item__input" name="cats" v-model="data.checked" value=1, :disabled="data.disabled")
        .cat-item__wrap
            .cat-item__svg-wrap(hidden)
                svg.cat-item__svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="326px" height="486px")
                    path.cat-item__path(fill-rule="evenodd"  stroke="rgb(22, 152, 217)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(242, 242, 242)" d="M310.000,482.000 L14.000,482.000 C7.373,482.000 2.000,476.627 2.000,470.000 L2.000,45.000 L45.000,2.000 L310.000,2.000 C316.627,2.000 322.000,7.372 322.000,14.000 L322.000,470.000 C322.000,476.627 316.627,482.000 310.000,482.000 Z")
            .cat-item__main
                .cat-item__content
                    small(class="cat-item__text" data-sh="Котэ не одобряет?") Сказочное заморское яство
                    p(class="")
                        strong(class="cat-item__name-wrap")
                            span(class="cat-item__name" v-html="data.name+'&nbsp;'")
                            span(class="cat-item__type" v-html="data.type+'&nbsp;'")
                        span(class="cat-item__circle")
                            span(class="cat-item__numb" v-html="data.weight")
                            span(class="cat-item__weight") кг
                    ul(class="cat-item__assortment")
                        li(class="cat-item__row")
                            span(class="cat-item__count" v-text="data.portions") 10
                            | &nbsp;порций
                        li(class="cat-item__row") {{getTextMouse}} в подарок
                        li(class="cat-item__row" v-if="data.happy") заказчик доволен
                .cat-item__image

            .cat-item__footer
                .cat-item__footer-text
                    p(v-if="data.checked && !data.disabled" v-text="data.description")
                    p(v-else-if="data.disabled" v-text="`Печалька, ${data.type} закончился.`")
                    p(v-else)
                        i(class="cat-item__plea") Чего сидишь? Порадуй котэ,
                        span(class="cat-item__link") &nbsp;купи.


</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                required: true
            },
        },
        watch: {
            getChecked(val) {
                if (val) {
                    this.$refs.item.addEventListener('mouseout', this.addClassHandler)
                } else {
                    this.$refs.item.removeEventListener('mouseout', this.addClassHandler);
                    this.$refs.item.classList.remove('cat-item_allow_hover')
                }
                return val
            }
        },
        created() {

        },
        methods: {
            addClassHandler() {
                this.$refs.item.classList.add('cat-item_allow_hover')
            }
        },
        computed: {
            getTextMouse() {

                if (this.data.mouse == 1) return 'мышь';
                if (this.data.mouse > 1 && this.data.mouse < 5) return this.data.mouse + ' мыши';
                else return this.data.mouse + ' мышей';
            },
            getChecked() {
                return this.data.checked;
            }
        }
    }
</script>
<style lang="scss">
    @import './cat-item.scss';
</style>


