<template lang="pug">

    section.cat-main
        .cat-main__wrap
            .cat-main__grid
                h1.cat-main__title Ты сегодня покормил кота?
                form.cat-main__form
                    cat-item(:data="item" v-for="(item, index) in list", :key="item.id")


</template>


<script>
    // @ is an alias to /src
    import CatItem from '@/components/cat/CatItem.vue'

    export default {
        components: {
            CatItem
        },
        data() {
            return {
                list: [
                    {
                        id: 1,
                        name: "Нямушка",
                        type: "с фуа-гра",
                        happy: false,
                        mouse: 1,
                        portions: 10,
                        weight: '0,5',
                        description: 'Печень утки разварная с артишоками.',
                        checked: false
                    },
                    {
                        id: 2,
                        name: "Нямушка",
                        type: "с рыбой",
                        mouse: 2,
                        portions: 40,
                        weight: 2,
                        description: 'Головы щучьи с чесноком да свежайшая сёмгушка.',
                        checked: false,

                    },
                    {
                        id: 3,
                        name: "Нямушка",
                        type: "с курой",
                        happy: true,
                        mouse: 5,
                        portions: 100,
                        weight: 5,
                        description: 'Филе из цыплят с трюфелями в бульоне.',
                        disabled: true,
                        checked: false
                    }
                ],
            }
        }
    }
</script>

<style lang="scss">
    @import './cat-main.scss';
</style>
