<template lang="pug">
    #app.page__wrap
        router-view
</template>


<script>
    export default {
        created() {
            this.getDevice();
            window.addEventListener('resize', this.getDevice);
            console.log(this.$router);
        },
        methods: {
            getDevice() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    document.getElementsByTagName('html')[0].classList.add("touch-device");

                } else {
                    document.getElementsByTagName('html')[0].classList.remove("touch-device");
                }
            },
        },
    }
</script>


<style lang="scss">
    @import "../src/styles/main";
</style>
